@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');


#loading{
    background: rgb(241, 241, 241) url(../image/book_loading.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


:root{
    --green: #27ae60;
    --dark-color:#219150;
    --black: #444;
    --light-color: #666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
  }
  
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #C6E1FD;
}


section{
    padding: 5rem 9%;

}



.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    padding: .5rem 35%; 
    color: var(--black);
    border: 3px solid;
    border-top: none; border-left: none; border-right: none;
    width: 100%;
}



/* btn sign in */

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: #4184DD;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}


.btn:hover{
    background:#214D6D;
}

.btnLeanrMore{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: #4184DD;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}
.btnLeanrMore:hover{
    background:#214D6D;
}



.btnBuynow{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: #4184DD;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}
.btnBuynow:hover{
    background:#214D6D;
}
/* ----- */


.header .header-1{
    background: #fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/*Chữ logo */
.logo {
    display: flex;
    align-items: center;
}

/* Điều chỉnh khoảng cách giữa logo và chữ */
.logo img {
    margin-right: 10px; 
}

/* Điều chỉnh chữ */
.logo span {
    margin-top: 2rem;
    font-size: 2.5rem; 
}
.header .header-1 .logo{
   
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}


/* Màu logo */
.header .header-1 .logo i{
    color:aqua;
}

/*tìm kiếm*/
/* Định dạng form tìm kiếm */
.header .header-1 .search-form{
    
    width:50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    padding-right: 10px;
    border-radius: .5rem;
}

/* Định dạng trong ô tìm kiếm */
.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color:var(--black);
}

/* Định dạng icon tìm kiếm */
.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor:pointer;
}

.header .header-1 .search-form label:hover{
    color:aqua;
}

/* Định dạng các icons khác */
.header .header-1 .icons div,
.header .header-1 .icons a{ 
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:aqua;
}

#search-btn{
    display:none ;
}

/* menu */
.header .header-2{
    background: #4184DD;
    justify-content: space-between;
    
}

.header .header-2 .navbar{
    text-align: center;
    
}


.header .header-2 .navbar a{
    color:-#fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
    color: #BEEEEA;
    
}

.header .header-2 .navbar .highlight-menu{
    background:#214D6D;
    border-radius: 5px;
}

.header .header-2 .navbar a:hover{
    background:#214D6D;
    border-radius: 5px;
}

.header .header-2.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

body{
    height: 100%;
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  #4184DD;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header .header-2 .navbar .dropdown .dropdown-content a:hover {
    background:#fff;
    width: 100%;
    color: black;
}




/* button phía dưới (tablet, phone) */
.bottom-navbar{
    text-align: center;
    background: #4184DD;
    position: fixed;
    bottom: 0; left: 0;right: 0; 
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color: #fff;
    
}

.bottom-navbar a:hover{
    background:#214D6D;
    border-radius: 5px;
}

.bottom-navbar .dropdown .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Form login */
.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position: fixed;
    top: 0; right: -105%;
    z-index: 10000;
    height: 100%; 
    width: 100%;
}

.login-form-container.active{
    background-image: url(../image/Cat-banner.png);
    background-size: 100%;
    right: 0;
}


.login-form-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

/* Chữ đăng nhập */
.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;

}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;

}

.login-form-container form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
    
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;

}
.login-form-container form .btn:hover{
    transform: scale(1.1); 
    background-color: #9CEDF9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.login-form-container form .btn

.login-form-container form p{
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;

}

.login-form-container form p a{
    color: var(--green);
    text-decoration: underline;
}


.login-form-container #close-login-btn{
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
    
}
.login-form-container .fa-times:hover{
    transform: rotate(90deg);
}


.home{      /* hình background */
    background-image: url(../image/Banner3.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}


.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.home .row .content{
    flex: 1 1 42rem;
}

.home .row .book-slider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 10rem;
    

}

.home .row .book-slider a img{
    height: 50rem;

}

.home .row .book-slider a:hover img{
    transform: scale(.9);
}

/* LearnMoreAbout */
.homeLearnMore{      /* hình background */
    background-image: url(../image/Banner_book.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.homeLearnMore .rowLearnMore{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

}

/* Hiệu ứng chuyển hình phải sang trái */
@keyframes slideToLeft {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

/* Sử dụng ease-in-out cho hiệu ứng và thời gian ngắn hơn */
.home .row .book-slider a img::after {
    animation: slideToLeft 0.5s ease-in-out infinite;
}

.home .row .content h3{
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

/* thiết kế footer */
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;

}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color: #21C9F3;
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color: #44455E;
    padding-bottom: .5rem;

}

.icons-container .icons p{
    font-size: 1.4rem;
    color: #44455E;
}


.product{
    background: url(../image/Banner3.jpg);
    background-size: cover;
    background-position: center;
    height: 100rem;
    
}

/* .product .row{
    w
} */

.product .heading{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.product .featured-slider .box{
    width: 30rem;
    margin :2rem 0;
    position: relative;
    overflow: auto;
    border: var(--border);
    text-align: center;
}

.product .featured-slider .box:hover{
    border: var(--border-hover);
}

.product .featured-slider .box .image{
    padding: 1rem;
    background: linear-gradient(180deg ,rgb(245, 254, 212),rgb(249, 214, 250),rgb(206, 172, 241),
                                        rgb(181, 209, 253),rgb(164, 244, 234), rgb(164, 244, 234));
}


.product .featured-slider .box:hover .image{
    transform: translateY(6rem);
}


.product .featured-slider .box .image img{
    height: 25rem;
}

.product .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #FFF9DD;
    z-index: 1;
    transform: translateY(-100%);
}

.product .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.product .featured-slider .box .icons a{
    color: var(--black);
    font-size: 2.5rem;
    margin: 2rem;

}

.product .featured-slider .box .icons a:hover{
    color: aqua;
}

.product .featured-slider .box .content{
    background: #B4FEFF;
    padding: 1.5rem;

}

.product .featured-slider .box .content h3{
    font-size: 2rem;
    color: var(--black);
    
}

.product .featured-slider .box .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;

}

.product .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}


.control{

    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 14px;
    
}

.control li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4),
        inset 0 4px 4px rgba(red, green, blue, alpha);
    padding: 16px;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1);
}

.control li:before{
    position: absolute;
    content: "";
    top: 0; right: 0; bottom: 0;left: 0;
    background-color: rgb(185, 192, 236);
    border-radius: 50%;
    z-index: -1;
    transition: all 0.5s ease-in;
}

.control li:hover{
    transform: scale(1.1); 
    background-color: #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.arrow{
    font-size: 1.5rem;
    color: #fff;
}



/* Product details */
.product-preview{
    display: none;
    align-items: center;
    justify-content: center;
    background:rgba(0,0,0,.8);
    position: fixed;
    top: 0; left: 0;
    z-index: 10000;
    min-height: 100vh; 
    width: 100%;
}

.product-preview .preview{
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem auto;
    width: 60%;
    max-width: 800px;
}

.product-preview .preview.active{
    display: none;
}

.product-preview .preview img{
    height: 30rem;
    align-items: center;
}

.product-preview .preview h3{
    text-align: left;
    color: #444;
    font-size: 1.5rem;
    text-decoration: underline;
}

.product-preview .preview .fa-times{
    position: absolute;
    top: 1rem; right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 4rem;
}

.product-preview .preview .fa-times:hover{
    transform:rotate(90deg);
}

.product-preview .preview .stars{
    padding: 1rem 0;

}

.product-preview .preview .stars i{
    font-size: 1.7rem;
    color: #B4E2E2;
}

.product-preview .preview .stars span{
    font-size: 1.7rem;

}

.product-preview .preview p{
    line-height: 1.3;
    padding: 1rem 0;
    text-align: left;
    font-size: 1.3rem;
    text-transform: none;
}

.product-preview .preview .content .price{
    padding: 1rem 0;
    font-size: 2.0rem;
    color: red;
}

.product-preview .preview .content .price span{
    text-decoration: line-through;
    color: #444;
}

.product-preview .preview .content .btn{
    margin-right: 5rem;
    background-color: #585A62;
}
.product-preview .preview .content .btnBuynow{
    margin-left: 5rem;
    background-color: #585A62;
}

.product-preview .preview .content .btn:hover{ 
    
    transform: scale(1.1); 
    background-color: #9CEDF9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.product-preview .preview .content .btnBuynow:hover{
    transform: scale(1.1); 
    background-color: #ccc; 
    box-shadow: 0 0 10px; 
    background-color: #9CEDF9;
}

/* menu About */

.homeLearnMore .rowLearnMore .contentAbout{ 
    flex: 1 1 42rem;
    margin-bottom: 40px;
}
.homeLearnMore .rowLearnMore .contentAbout h3{
    margin-bottom: 1.5rem;
    color: var(--black);
    font-size: 4.5rem;
    position: relative;
    color: #1B45D6;
}

.hohomeLearnMoreme .rowLearnMore .contentAbout h2{
    font-size: 2rem;
}

.homeLearnMore .rowLearnMore .contentAbout h3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #41BCFC;
}

.homeLearnMore .rowLearnMore .contentAbout p{
    color: black;
    font-size: 1.5rem;
    line-height: 2;
    padding: 1rem 0;
}
.homeLearnMore .rowLearnMore .contentAbout .btn:hover{ 
    transform: scale(1.1); 
    background-color: #9CEDF9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.homeLearnMore .rowLearnMore .contentAbout .imgAbout{
    border-radius: 5px;
}

.homeLearnMore .rowLearnMore .imgAbout{
    flex: 1;
    margin-left: 40px;
    overflow: hidden;
}

.homeLearnMore .rowLearnMore .imgAbout img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.homeLearnMore .rowLearnMore .imgAbout:hover img{
    transform: scale(1.1);
}


/* Learn more about us */

.btnLeanrMoreAbout{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: #4184DD;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btnLeanrMoreAbout:hover{
    transform: scale(1.1); 
    background-color: #9CEDF9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.homeLearnMore .rowLearnMore .contentAbout h3{
    margin-bottom: 1.5rem;
    color: var(--black);
    font-size: 4.5rem;
    position: relative;
    color: #1B45D6;
}


.homeLearnMore .rowLearnMore .contentAbout .know dt{
    font-weight:  bold;
    line-height: 2;
    font-size: 2.5rem;
    
}

.homeLearnMore .rowLearnMore .contentAbout .know dd{
    color: black;
    font-size: 1.8rem;
    line-height: 2;
    padding: 1rem 0;
}

.homeLearnMore .rowLearnMore .contentAbout h3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #41BCFC;
}

.container-contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.container-contact .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container-contact .contactInfo .box{
    position: relative;
    padding: 3rem 0;
    display: flex;
}

.container-contact .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #EEE2FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container-contact .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background-color: #B7CAFE;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline:none ;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    
    color: #C904C6;
    font-size: 1.5rem;
    transform: translateY(-30px);
}

.contactForm .inputBox input[type="submit"]{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: #6957AA;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
    border: none;
}

.contactForm .inputBox input[type="submit"]:hover{
    transform: scale(1.1); 
    background-color: #B7CAFE; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}













/* Responsive  */

/* Desktop */
@media(max-width:991px){
    html{
        font-size: 55%;
    }

    .header .header-1{
       padding: 2rem; 
    }

    section{
        padding: 3rem 2rem;
    }
}

/* Tablet */
@media(max-width:768px){
    html{
        scroll-padding-top:0 ;
    }
    body{
        padding-bottom: 6rem;
    }


    .header .header-2{
        display: none;
    }
    .bottom-navbar{
        display: block;
    }

    #search-btn{
        
        display:inline-block ;
    }
    
    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position: absolute;
        top: -115%; right: 2rem; 
        width: 90%;
        box-shadow: var(--box-shadow);
    }
    .header .header-1 .search-form.active{
        top: 115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }
    
}

/* SmartPhone */
@media(max-width:450px){
    html{
        font-size: 55%;
    }

    .header .header-1{
       padding: 2rem; 
    }
}



/* @media only screen and (min-width: 600px) {
    html{
        font-size: 55%;
    }

    .header .header-1{
       padding: 2rem; 
    }
} */

/* Default font size
html {
    font-size: 62.5%;
}

/* Clearfix for rows */
/* .row::after {
    content: "";
    clear: both;
    display: block;
} */

/* Column grid */
/* [class*="col-"] {
    float: left;
    padding: 15px;
} */

/* For desktop */
/* .col-1 {width: 8.33%;} 
.col-2 {width: 16.66%;} 
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */

/* For mobile phones */
/* @media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}  */